* {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh; 
}

#display {
    position: relative;
    width: 100vw;
    height: 100vh;
}

button {
    cursor: pointer;
    border: none;
}

button:hover {
    color: #ccc;
}

div#display button {
    height: 5em;
    width: 10em;
    margin : 5px;
    box-sizing: border-box; 
    display : inline-block;
    text-align : center;
    align-items : center;
}

#reBtn {
    background-color: black;
    color: whitesmoke;
}

.qBtn {
    margin: 5px;
}